.main{
    padding: 40px 0px;
    width: 100%;
    max-width: 920px;
    margin: 0 auto;
}

@media screen and (max-width: 500px){
    .main{
      max-width: 290px;
    }
}

@media screen and (max-width: 768px){
  .main{
    max-width: 400px;
  }
}